@{
    ViewData["Title"] = "Submission";
}
@Grading_App_Section_1.Models.Student

<form method="post" action="Student/Edit" class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Edit Your GitHub Link "Model.StudentName"</h1>
        <br />
        <br />
        <div class="input-group mb-3">
            <input type="hidden" asp-for="group_id" />
            <input type="text" name="githubLink" class="form-control" placeholder="Edit your group’s GitHub link here" aria-label="Group's GitHub Link" aria-describedby="basic-addon2">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit Link</button>
    </div>
</form>