@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .login-field {
            line-height: 2rem;
        }
    </style>
</head>
<body>
    <div class="row my-5 py-5">
        <div class="col-sm-3 col-md-4 col-lg-5"></div>
        <div class="col-sm-6 col-md-4 col-lg-2 border border-dark border-2 rounded-3 shadow">
            <h2 class="text-center my-4">Login</h2>
            <form class="mx-3" asp-controller="Home" asp-action="Login" method="post">
                <div>
                    <label class="form-label my-0" for="username">Username</label>
                    <br />
                    <input class="login-field container border border-dark border-1 rounded-3" type="text" id="username" name="username" placeholder="Enter username" required />
                </div>
                <div class="my-3">
                    <label class="form-label my-0" for="password">Password</label>
                    <br />
                    <input class="login-field container border border-dark border-1 rounded-3" type="password" id="password" name="password" placeholder="Enter password" required />
                </div>
                <div class="my-4 mb-5">
                    <input class=" border border-dark border-1 container btn btn-primary" type="submit" value="Login" />
                </div>
            </form>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-5"></div>
    </div>
</body>
</html>

