<body>
    <style>
        #myProgress {
            width: 100%;
            background-color: lightgray;
            border-radius: 10px;
        }

        #myBar {
            width: 0%;
            height: 30px;
            border-radius: 10px;
            background-color: cornflowerblue;
            text-align: center; /* To center it horizontally (if you want) */
            line-height: 30px; /* To center it vertically */
            color: white;
        }
    </style>

    <h1>Test Bar - Count Submissions</h1>

    <div id="myProgress">
        <div id="myBar">0%</div>
    </div>

    <br>
    

    <script>
        var i = 0;
        function onPageLoad() 
        {
            if (i == 0) 
            {
                i = 1;
                var j = 0;
                //replace the testArray with the validation of entries in the database; or maybe comparing to the entries completed from Lindsey and Elise's chart
                var testArray = [1,2,3,4,5,6,7];
                var elem = document.getElementById("myBar");
                var width = 0;
                var id = setInterval(frame, 1);
                function frame()
                {
                    // update the .length once connected to database
                    while (j < testArray.length)
                    {
                        if (width >= 100) {
                            clearInterval(id);
                            i = 0;
                        }
                        else {
                            width = width + 10;
                            elem.style.width = width + "%";
                            elem.innerHTML = width + "%";
                        }
                        j++;
                    }

                }
            }
        }
        window.onload = onPageLoad();
    </script>
</body>