@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_JudgesLayout";
}
@model List<Student>
<!-- figure out what judge is logged in and show them the proper teams-->
<!-- put the judge id in when someone logs in they can see that -->
<style>
    /* Your CSS styles */
    .rating-container {
        margin-bottom: 20px;
    }
    .rating {
        display: flex;
        justify-content: space-between;
    }
    .container .card {
        width: 100%; /* Set the width of the cards to 100% */
        margin-bottom: 20px; /* Add margin bottom for spacing */
        padding: 20px; /* Add padding for spacing */
    }


        .rating input[type="radio"] {
            color: #90B4CE;
            display: none;
        }
        .rating label {
            cursor: pointer;
            font-size: 24px;
            color: #90B4CE;
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .rating input[type="radio"]:checked + label {
            border-radius: 50%;
            background-color: #3DA9FC;
            color: white;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .textarea-wrapper {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    input[type="text"] {
        width: 100%;
        box-sizing: border-box;
        resize: none; 
        overflow-y: hidden; 
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
    }
    /* Adjusted layout styles */
    .row {
        display: flex;
        justify-content: space-between;
    }
    .col-2, .col-8 {
        flex: 1;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<!-- for each form is the question id-->
<body>
    <div class="row m-1 p-1">
        <div class="col-2">
            
        </div>
        <div class="container col-8">
            <!-- group_id from the survey_responses table-->
            <h1>Group @Model[0].group_id</h1>
            <!-- Students first_name , last_name -->
            <h3>
                @foreach (Student s in Model)
                {
                    @s.first_name @s.last_name @Html.Raw("&nbsp;") <!-- Add space between names -->
                }
            </h3>
            <!-- first question for the survey -->
            <div class="card m-1 p-3 bg-light">
                <h4 style="text-align: center; color: #094067">Overall System Quality and Client Satisfaction</h4>
                <ol>
                    <li><h5>How effective was the team in building a solution that meets the client's needs?</h5></li>
                </ol>
                <ul style="font-size: medium">
                    <li>Items that may factor into your scoring of this item:</li>
                    <li>The Team Understands the Requirements and Challenges Facing the Client</li>
                    <li>System Meets Client's Needs</li>
                    <li>The Solution is Realistic and Viable</li>
                    <li>You are Confident in the Solution and Team</li>
                    <li>Client Should Engage this Team for Continued Implementation of the Solution</li>
                </ul>
                <div>
                    <p style="color: #90B4CE; text-align: center;">
                        <label>Not Effective</label>
                        <label>Slightly Effective</label>
                        <label>Moderately Effective</label>
                        <label>Extremely Effective</label>
                    <p />
                </div>
                <form id="ratingForm">
                    <div class="rating-container">
                        <div class="rating">
                            <!-- Radio buttons for rating -->
                            <input type="radio" id="rating1" name="rating" value="1" /><label for="rating1">1</label>
                            <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2">2</label>
                            <input type="radio" id="rating3" name="rating" value="3" /><label for="rating3">3</label>
                            <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4">4</label>
                            <input type="radio" id="rating5" name="rating" value="5" /><label for="rating5">5</label>
                            <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6">6</label>
                            <input type="radio" id="rating7" name="rating" value="7" /><label for="rating7">7</label>
                            <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8">8</label>
                            <input type="radio" id="rating9" name="rating" value="9" /><label for="rating9">9</label>
                            <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10">10</label>
                        </div>
                    </div>
                    <div class="m-2">
                        <h5>Do you have any complements or critiques for the group about the Overall System Quality and Client Satisfaction?</h5>
                    </div>
                    <div class="textarea-wrapper">
                        <input type="text" name="textbox_name" id="textbox_id" placeholder="Give feedback here" oninput="adjustTextareaHeight(this)" />
                    </div>
                    <br />
                    <button type="submit">Submit</button>
                </form>
            </div>
            <br><br />
            <!-- second question for the survey -->
            <div class="card m-1 p-3 bg-light">
                <h4 style="text-align: center; color: #094067">Overall System Quality and Client Satisfaction</h4>
                <ol>
                    <li><h5>How effective was the team in building a solution that meets the client's needs?</h5></li>
                </ol>
                <ul style="font-size: medium">
                    <li>Items that may factor into your scoring of this item:</li>
                    <li>The Team Understands the Requirements and Challenges Facing the Client</li>
                    <li>System Meets Client's Needs</li>
                    <li>The Solution is Realistic and Viable</li>
                    <li>You are Confident in the Solution and Team</li>
                    <li>Client Should Engage this Team for Continued Implementation of the Solution</li>
                </ul>
                <div>
                    <p style="color: #90B4CE; text-align: center;">
                        <label>Not Effective</label>
                        <label>Slightly Effective</label>
                        <label>Moderately Effective</label>
                        <label>Extremely Effective</label>
                    <p />
                </div>
                <form id="ratingForm">
                    <div class="rating-container">
                        <div class="rating">
                            <!-- Radio buttons for rating -->
                            <input type="radio" id="rating1" name="rating" value="1" /><label for="rating1">1</label>
                            <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2">2</label>
                            <input type="radio" id="rating3" name="rating" value="3" /><label for="rating3">3</label>
                            <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4">4</label>
                            <input type="radio" id="rating5" name="rating" value="5" /><label for="rating5">5</label>
                            <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6">6</label>
                            <input type="radio" id="rating7" name="rating" value="7" /><label for="rating7">7</label>
                            <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8">8</label>
                            <input type="radio" id="rating9" name="rating" value="9" /><label for="rating9">9</label>
                            <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10">10</label>
                        </div>
                    </div>
                    <div class="m-2">
                        <h5>Do you have any complements or critiques for the group about the Overall System Quality and Client Satisfaction?</h5>
                    </div>
                    <div class="textarea-wrapper">
                        <input type="text" name="textbox_name" id="textbox_id" placeholder="Give feedback here" oninput="adjustTextareaHeight(this)" />
                    </div>
                    <br />
                    <button type="submit">Submit</button>
                </form>
            </div>
            <!-- third question for the survey-->
            <br /><br />
            <div class="card m-1 p-3 bg-light">
                <h4 style="text-align: center; color: #094067">Overall System Quality and Client Satisfaction</h4>
                <ol>
                    <li><h5>How effective was the team in building a solution that meets the client's needs?</h5></li>
                </ol>
                <ul style="font-size: medium">
                    <li>Items that may factor into your scoring of this item:</li>
                    <li>The Team Understands the Requirements and Challenges Facing the Client</li>
                    <li>System Meets Client's Needs</li>
                    <li>The Solution is Realistic and Viable</li>
                    <li>You are Confident in the Solution and Team</li>
                    <li>Client Should Engage this Team for Continued Implementation of the Solution</li>
                </ul>
                <div>
                    <p style="color: #90B4CE; text-align: center;">
                        <label>Not Effective</label>
                        <label>Slightly Effective</label>
                        <label>Moderately Effective</label>
                        <label>Extremely Effective</label>
                    <p />
                </div>
                <form id="ratingForm">
                    <div class="rating-container">
                        <div class="rating">
                            <!-- Radio buttons for rating -->
                            <input type="radio" id="rating1" name="rating" value="1" /><label for="rating1">1</label>
                            <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2">2</label>
                            <input type="radio" id="rating3" name="rating" value="3" /><label for="rating3">3</label>
                            <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4">4</label>
                            <input type="radio" id="rating5" name="rating" value="5" /><label for="rating5">5</label>
                            <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6">6</label>
                            <input type="radio" id="rating7" name="rating" value="7" /><label for="rating7">7</label>
                            <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8">8</label>
                            <input type="radio" id="rating9" name="rating" value="9" /><label for="rating9">9</label>
                            <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10">10</label>
                        </div>
                    </div>
                    <div class="m-2">
                        <h5>Do you have any complements or critiques for the group about the Overall System Quality and Client Satisfaction?</h5>
                    </div>
                    <div class="textarea-wrapper">
                        <input type="text" name="textbox_name" id="textbox_id" placeholder="Give feedback here" oninput="adjustTextareaHeight(this)" />
                    </div>
                    <br />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="container col-2">
            <div class="card">
                <div class="card-body">
                    Group 1
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="average-score">Average Group Score: </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Function to adjust the height of the textarea dynamically
        function adjustTextareaHeight(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
        }
        document.getElementById('ratingForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission
            var selectedRating = document.querySelector('input[name="rating"]:checked').value;
            var scoreElement = document.querySelector('.average-score');
            scoreElement.textContent = 'Average Group Score: ' + selectedRating + '/10';
            // get the score from the Survey_Responses model and store it as survey_num_response
            // survey_text_response ; variable
            // You can format and store these values for later use
            // Example: store in an array or object
            var surveyResponse = {
                rating: selectedRating,
                feedback: feedback
            };
            console.log(surveyResponse);  // Just to show the format, remove in production
        });
    </script>
</body>
