@model Grading_App_Section_1.Models.ViewModels.AddJudgeViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Add Judge:</h1>

            <form method="post">
                @* <input type='hidden' asp-for="judge_id"> *@
                @* <input type='hidden' asp-for="judge_team"> *@

                <label asp-for="first_name">First Name:</label>
                <input asp-for="first_name" class="form-control" />
                <br />
                <label asp-for="last_name">Last Name:</label>
                <input asp-for="last_name" class="form-control" />
                <br />
                <label asp-for="password_hash">Password:</label>
                <input asp-for="password_hash" type="password" class="form-control" placeholder="ex: firstLast" />
                <br />
                <label>Current Room Assignment:</label>
                
@*                This needs to be updated to have the list of rooms dropdown. 
                    <select asp-for="schedule_room" class="form-control">
                    <option value="">Select a Room</option>
                    @foreach (var room in Model.schedule_room)
                    {
                        <option value="@room.schedule_id">@room.schedule_room</option>
                    }
                </select> *@
                <br />
                <button type="submit" class="btn btn-primary">Add</button>
                <div asp-validation-summary="All"></div>

            </form>
        </div>
    </div>
</div>





