@{
    ViewData["Title"] = "Judge Summary";
}
<br>
@model Tuple<List<Schedule>, List<Judge>>

<div class="text-left">
    <h2 class="text-nextex-paragraph bold">Judge Summary</h2>
</div>
<br>
<table id="linkTable" class="rounded-table">
    <thead>
        <tr>
            <th>Room</th>
            <th>Judges</th>
            <th>Groups</th>
            <th>Top Group</th>
        </tr>
    </thead>
    <tbody>
        <tr data-href="/TeacherAdmin/JudgeView" class="hover-element">
            <td class="bold">174 TNRB</td>
            <td class="bold">Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>
        <tr>
            <td class="bold">174 TNRB</td>
            <td class="bold">Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>
        <tr>s
            <td class="bold">174 TNRB</td>
            <td class="bold">Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>

        @foreach (var s in Model.Item1)
        {
            <tr data-href="/TeacherAdmin/JudgeView" class="hover-element">
                <td class="bold">@s.schedule_room</td>
                <td class="bold">
                   
                    @foreach (var j in Model.Item2)
                    {
                        @j.first_name @j.last_name
                        @if (j != Model.Item2.Last())
                        {
                            @:", "
                        }
                                 
                    }
                 
                </td>
                <td>1-2, 1-4, 1-9, 3-4</td>
                <td>1-9</td>
            </tr>
        }
</table>
