@{
    ViewBag.Title = "Rubric Index";
    Layout = "_TeachAdminLayout";
}

@model List<Rubric_Item>

<h1>Rubric Index</h1>

@{
    // Get distinct class numbers
    var distinctClassNumbers = Model.Select(item => item.class_number).Distinct();

    // Get count of each class number
    var classNumberCounts = Model.GroupBy(item => item.class_number)
        .ToDictionary(group => group.Key, group => group.Count());
}
    
<div class="card-container">
    @foreach (var classNum in distinctClassNumbers)
    {
        <a asp-controller="TeacherAdmin" asp-action="View_Rubric_Category" asp-route-category="@classNum">
            <div class="card">
                <h1>
                    @if (classNum > 000)
                    {
                        <text>Presentation</text>
                    }
                    else
                    {
                        <text>IS @classNum</text>
                    }
                </h1>
                <div class="subtitle">20% of overall</div>
                <div class="subtitle">@classNumberCounts[classNum]</div>
            </div>
        </a>
    }
</div>
