@{
    ViewBag.Title = "Rubric Index";
}

@model List<Rubric_Item>

<h1>Rubric Index</h1>

<div class="card-container">
    @{
        var groupedItems = Model.GroupBy(item => item.class_number);
    }
    
    
    @foreach (var category in groupedItems)
    {
        var categoryName = category.Key;
        var requirementCount = category.Count();

        <h1>
            @if (categoryName == 000)
            {
                @:Presentation
            } else
            {
                @:IS @categoryName
            }
        </h1>

        <div class="card" asp-route-id="@categoryName">
            <div class="subtitle">20% of overall</div>
            <div class="subtitle">@requirementCount</div>
        </div>
    }
</div>
