@{
    ViewBag.Title = "Rubric Index";
}

@model List<Rubric_Item>

<h1>Rubric Index</h1>

<div class="card-container">
    @{
        var groupedItems = Model.GroupBy(item => item.class_number);
    }
    
    
    @foreach (var category in groupedItems)
    {
        var categoryName = category.Key;
        var requirementCount = category.Count();
        <a asp-controller="TeacherAdmin" asp-action="View_Rubric_Category" asp-route-category="@categoryName">
            <div class="card">
                <h1>
                    @if (categoryName == 000)
                    {
                        @:Presentation
                    }
                    else
                    {
                        @:IS @categoryName
                    }
                </h1>
                <div class="subtitle">20% of overall</div>
                <div class="subtitle">@requirementCount</div>
            </div>
        </a>
    }
</div>
